/* commoun css start */
*{
    margin: 0px;
    padding: 0px;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
/* commoun css end */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

/* font-family: 'Open Sans', sans-serif; */
h1,h2,h3,
h4,h5,h6{
    font-family: 'Open Sans', sans-serif;
}
h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    font-weight: 300;
}
h3{
    font-size: 35px;
    font-weight: 300;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
h5{
    font-size: 13px;
    font-weight: 600;
}
h6{
    font-size: 14px;
    font-weight: 700;
}
*{
    font-family: 'Open Sans', sans-serif;
}
/* =========================
    Hero part start
===========================*/
#hero_part{
    width: 100%;
    height: 100vh;
    background: url(../images/hero_img.png) center no-repeat;
    background-size: cover;
}
.hero_con_main .container{
    position: relative;
}
.hero_phone{
    width: 430px;
    height: 600px;
    position: absolute;
    right: 100px;
    top: 230px;
}
.hero_phone img{
    width: 100%;
    height: 100%;
}
.hero_con_text{
    margin-top: 250px;
    padding-bottom: 20px;
    color: #fff;
}
/* =========================
    Hero part end
===========================*/
/* =========================
    About part start
===========================*/
.about_part{
    padding-top: 40px;
}
/* =========================
    Abuot part end
===========================*/
/* =========================
    Details part start
===========================*/
.details_part{
    padding-top: 80px;
    padding-bottom: 100px;
}
/* =========================
    Details part end
===========================*/
/* =========================
    Power part start
===========================*/
#power_part{
    width: 100%;
    height: 100vh;
    background: url(../images/car_img.png) center no-repeat;
    background-size: cover;
    color: #fff;
    padding-bottom: 100px;
}
.power_con p{
    width: 85%;
}
.power_con .power_text{
    margin-top: 50%;
    padding-bottom: 20px;
}
/* =========================
    Power part end
===========================*/
/* =========================
    Power part start
===========================*/
#reasons_part{
    width: 100%;
    background: #81c99b;
    color: #fff;
    padding-top: 120px;
    padding-bottom: 160px;
}
/* =========================
    Power part end
===========================*/
/* =========================
    Buy part start
===========================*/
#buy_part{
    background: #f6f7fa;
    padding-top: 100px;
    padding-bottom: 140px;
}
.buy_part label{
    background: #bd8bbf;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.buy_part button{
    display: block;
}
.card{
    border: none;
    border-radius: 0;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.buy_part i{
    font-size: 24px;
    margin-top: 15px;
    margin-right: 10px;
    color: #c5c5c5;
}
.buy_part .col_item{
    transition: .3s;
}
.buy_part .col_item:hover {
    box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
    transform: scale(1.05,1.05);
}
/* =========================
    Buy part end
===========================*/
/* =========================
    Footer part start
===========================*/
.footer_part{
    padding: 130px 0px 150px;
    background: #192331;
    color: #fff;
}
.footer_con li a{
    display: block;
    color: #fff;
    transition: .4s;
}
.footer_con ul li a:hover{
    color: #57697f;
    margin-left: 15px;  
}
.footer_part p{
    margin-bottom: 50px;
}
.footer_part .form-outline {
    width: 100%;
    height: 60px;
    display: flex;
}
.form-outline input{
    width: 80%;
    height: 100%;
    font-size: 24px;
    border-radius: 5px 0 0 5px;
}
.form-outline button{
    width: 20%;
    height: 100%;
    border-radius: 0px 5px 5px 0px;
}
.form-outline button i{
    font-size: 30px;
}
.input-group p{
    color: #57697f;
    display: block;
}
.footer_con h5{
    margin-bottom: 20px;
}
/* =========================
    Footer part end
===========================*/
/* ======Responsive====== */
@media (max-width: 576px){
    #power_part h2{
        font-size: 30px;
    }

}
@media (min-width: 576px and max-width:768px) {
    .power_con p{
        margin-left: 20px;
    }
}

